.card-bottom {
  margin-top: 74px;
  margin-bottom: 26px;
  padding: 50px 0px;
  background: rgba(182, 202, 251, 0.159986);
  box-shadow: inset 0px 21px 13px rgba(182, 202, 251, 0.225402);
}
.card-bottom-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-bottom-item {
  margin: 0;
  padding: 0;
  width: 359px;
  height: 238px;
}
