.container {
  max-width: 1300px !important;
  margin: 0 auto !important;
  padding: 0 10px !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.avatar-uploader {
  width: 104px !important;
  display: flex !important;
}
